<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <filter>
        <display-name>Authentication Filter</display-name>      
        <filter-name>com.eidp.webctrl.AuthFilter</filter-name>
        <filter-class>com.eidp.webctrl.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>com.eidp.webctrl.AuthFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
    <listener>
        <listener-class>com.eidp.core.DB.DBMapping</listener-class>
    </listener>
    <listener>
        <listener-class>com.eidp.webctrl.WebAppCache.EIDPWebAppCache</listener-class>
    </listener>
    <servlet>
        <servlet-name>Controller</servlet-name> 
        <servlet-class>com.eidp.webctrl.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.eidp.webctrl.Login</servlet-class>
    </servlet>
    <!-- Webdav servlet 
    <servlet>
        <servlet-name>webdav</servlet-name>
        <servlet-class>org.apache.catalina.servlets.WebdavServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    -->
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/servlet/com.eidp.webctrl.Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/servlet/com.eidp.webctrl.Login</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>webdav</servlet-name>
        <url-pattern>/webdav/files/*</url-pattern>
    </servlet-mapping>
    -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.io.FileNotFoundException</exception-type>
        <location>/EIDPException.html</location>
    </error-page>
    <error-page>
        <exception-type>java.rmi.RemoteException</exception-type>
        <location>/RemoteException.html</location>
    </error-page>
    <error-page>
        <exception-type>java.security.AccessControlException</exception-type>
        <location>/EIDPAccessControllException.html</location>
    </error-page>
    <ejb-ref>
        <description>DBMapping Reference</description>
        <ejb-ref-name>DBMapping</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
    </ejb-ref>
    <ejb-ref>
        <description>EIDPWebAppCache Reference</description>
        <ejb-ref-name>EIDPWebAppCache</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
    </ejb-ref>
</web-app>
